@media only screen and (min-width: 675px) {

  .mobile {
    display: none;
  }

  .desktop {
    display: inline-block;
  }

  .top-bar {
    display: flex !important;
  }

  .top-icon {
    display: flex !important;
  }

  .close-nav {
    position: absolute;
    display: block;
    right: 20px;
    top: 10px;
  }

}

@media only screen and (max-width: 1010px) {

  h2 {
      margin-right: 20px;
  }
  .graphs-subtitle {
    width: 150px;
  }

}

@media only screen and (max-width: 900px) {

  header {
    height: 186px;
  }

  .header-links {
    display: flex;
    flex-wrap: wrap;
    float: none;
    margin-left: -10px;
    margin-top: 0px;
    width: auto;
  }

  .chart-section img {
    width: auto;
    height: 90%;
  }

  .main-btm-social a {
    font-size: 12px;
    padding-right: 10px;
  }

  .main-btm-widgets a {
    border-radius: 3px;
    width: 100%;
  }

}

@media only screen and (max-width: 675px) {

.mobile {
  display: inline-block;
}

.desktop {
  display: none;
}

aside { 
  align-content: center;
  display: none;
  text-align: center;
  width: 100%;
}

.close-nav { 
  display: none;
  font-size: 24px;
  position: absolute;
  right: 70px;
  top: 20px;
}

aside .account-name {
  font-size: 15px;
  width: 30%;
}

.side-nav { 
  align-items: center;
  display: flex;
  flex-direction: column;
}

h3 { 
  font-size: 18px;
}

aside li { 
  margin: 0;
  padding: 0;
}

.top-bar-mobile { 
  background: #fff;
  border-bottom: 1px solid #ddd;
  display: flex;
  justify-content: space-between;
  padding-right: 30px;
  width: auto;
}

.top-menu {
  align-items: center;
  border-right: 1px solid #ddd;
  color: #666;
  display: flex;
  height: 100%;
  justify-content: left;
  padding-left: 30px;
  width: 100%;
}

h1 { 
  font-size: 20px;
  margin-top: 14px;
}

.top-icon { 
  align-items: center;
  border-right: 0;
  color: #666;
  display: flex;
  height: 70px;
  justify-content: center;
  padding-left: 0px;
  width: 70px;
}

.mobile .left-account-info {
  border-bottom: 0;
  display: flex;
  flex-direction: row;
  height: 70px;
  width: 200px;
}

.mobile .left-account-info img {
  height: 50px;
}

.mobile .account-name a { 
  color: #6d7081;
  font-size: 14px;
}

.top-content-links { 
  display: flex;
  justify-content: center;
  padding-left: 0;
  width: 100%;
}

.search.mobile { 
  background: #fff;
  border-bottom: 1px solid #ddd;
  box-shadow: inset 3px 2px 5px #efefef;
  display: block;
  height: 75px;
}

.search.mobile input {
  width: 90%;
}

header {
  height: 195px;
  text-align: center;
}

.header-links { 
  display: flex;
  justify-content: center;
  width: 100%;
}

.mobile-top-links { 
  color: #c5d0e2;
  display: flex;
  align-items: center;
}

.mobile-top-links svg { 
  margin: 0 15px 15px 15px;
}

h2 {
  margin: 0 0 3px 0;
}

.active h2 { 
  margin: 0 25px;
}

.header-links a {
  margin-left: 0;
  margin-right: 10px;
  margin-bottom: 35px;
}

.top-content-graphs { 
  display: block;
  position: relative;
}

.graph-arrows { 
  align-items: center;
  color: #fff;
  display: flex;
  font-size: 40px;
  justify-content: space-between;
  left: 20px;
  position: absolute;
  top: 240px;
  width: 90%;
}

.graphs-section { 
  height: 40vw;
  margin-right: 0;
  width: 100%;
}

.donut-graphs, .bar-chart { 
  display: flex;
  height: 22vw;
  justify-content: center;
}

.graph {
  margin: 0px 10px;
}

.chart-section { 
  height: 47vw;
  margin-right: 0;
  margin-top: 20px;
  width: 100%;
}

.chart-section img { 
  margin-top: 40px;
  width: 77%;
}

.main-btm-content { 
  display: block;
  padding: 30px;
}

.main-btm-left, .main-btm-right { 
  width: 100%;
}

.main-btm-social.desktop { 
  display: none;
}

.main-btm-header { 
  margin-top: 25px;
}

.main-btm-widgets {
  display: flex;
  justify-content: space-between;
}

.main-btm-widgets svg { 
  margin: 15px auto;
  font-size: 22px;
}

.main-btm-widgets article {
  border-bottom: 0;
  color: #7d8ba5;
  float: left;
  font-size: 12px;
  line-height: 20px;
  margin-right: 5%;
  padding: 35px 0;
  text-align: center;
  width: 28%;
}

.main-btm-widgets .last {
  margin-right: 0;
}

h5 { 
  display: flex;
  flex-direction: column;
  height: 100px;
}

.copy-link { 
  margin-top: 30px;
}

.copy-link a:hover {
  background: #36a7ae;
}

footer { 
  background: #fff;
  border-top: 1px solid #ddd;
  color: #6f7e95;
  font-size: 14px;
  height: 60px;
  padding: 30px;
  width: auto;
}

footer.mobile { 
  align-items: flex-end;
  display: flex;
}

footer strong {
  color: #354052;
  text-transform: uppercase;
}

.share-text {
  width: 70%;
}

.share-text p { 
  margin-bottom: 0;
}

.share-icons {
  width: 39%;
}

.share-icons svg { 
  font-size: 38px;
  margin-left: 12px;
}

}

@media only screen and (max-width: 500px) {

.share-icons svg {
  font-size: 30px;
  margin-left: 10px;
}

.share-text {
  font-size: 11px;
}

}