@media only screen and (min-width: 675px) {

  .mobile {
    display: none;
  }

  .desktop {
    display: inline-block;
  }

  .top-bar {
    display: flex !important;
  }

  .top-icon {
    display: flex !important;
  }

  .close-nav {
    position: absolute;
    display: block;
    right: 20px;
    top: 10px;
  }

}

@media only screen and (max-width: 1010px) {

  h2 {
      margin-right: 20px;
  }

}

@media only screen and (max-width: 900px) {

  header {
    height: 186px;
  }

.header-links {
    width: auto;
    display: flex;
    flex-wrap: wrap;
    margin-top: 0px;
    margin-left: -10px;
    float: none;
}

.main-btm-widgets a {
  width: 100%;
  border-radius: 3px;
}

.main-btm-social a {
  font-size: 12px;
  padding-right: 10px;
}

.chart-section img {
    width: auto;
    height: 90%;
}

}

@media only screen and (max-width: 675px) {

.mobile {
    display: inline-block;
}

.desktop {
    display: none;
}

.main-btm-social.desktop {
  display: none;
}

h1 {
    font-size: 20px;
    margin-top: 14px;
}

h3 {
  font-size: 18px;
}

.top-menu {
    width: 100%;
    border-right: 1px solid #ddd;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: left;
    color: #666;
    padding-left: 30px;
}

aside {
  display: none;
  width: 100%;
  text-align: center;
  align-content: center;
}

.side-nav {
  display: flex;
  flex-direction: column;
  align-items: center;
}

aside li {
  margin: 0;
  padding: 0;
}

.top-bar-mobile {
    background: #fff;
    justify-content: space-between;
    display: flex;
    width: auto;
    border-bottom: 1px solid #ddd;
    padding-right: 30px;
}

.top-icon {
  width: 70px;
  border-right: 0;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #666;
  padding-left: 0px;
}

.mobile .left-account-info {
    height: 70px;
    width: 200px;
    display: flex;
    flex-direction: row;
    border-bottom: 0;
}

.mobile .left-account-info img {
  height: 50px;
}

.mobile .account-name a { 
    color: #6d7081;
    font-size: 14px;
}

.top-content-links {
    padding-left: 0;
    display: flex;
    width: 100%;
    justify-content: center;
}

.search.mobile {
  height: 75px;
  background: #fff;
  border-bottom: 1px solid #ddd;
  box-shadow: inset 3px 2px 5px #efefef;
  display: block;
}

.active h2{
  margin-left: 45px;
  margin-right: 45px;
}

h2 {
  margin: 0;
}

.search.mobile input {
  width: 90%;
}

.header-links {
    width: 100%;
    display: flex;
    justify-content: center;
}

.header-links a {
  margin-left: 0;
  margin-right: 10px;
  margin-bottom: 35px;
}

.top-content-graphs {
  display: block;
  position: relative;
}

.chart-section img {
    width: 77%;
    margin-top: 40px;
}

.graphs-section {
    width: 100%;
    margin-right: 0;
    height: 40vw;
}

.chart-section {
    width: 100%;
    margin-right: 0;
    height: 47vw;
    margin-top: 20px;
}

.main-btm-content {
    display: block;
    padding: 30px;
}
.main-btm-left, .main-btm-right {
    width: 100%;
}

header {
  text-align: center;
  height: 195px;
}

.mobile-top-links {
  color: #c5d0e2;
  display: flex;
  align-items: center;
}

.mobile-top-links svg {
  margin: 0 15px 15px 15px;
}

.copy-link {
  margin-top: 30px;
}

.copy-link a:hover {
  background: #36a7ae;
}


.graph-arrows {
  display: flex;
  justify-content: space-between;
  width: 90%;
  position: absolute;
  align-items: center;
  left: 20px;
  color: #fff;
  font-size: 40px;
  top: 240px;
}

.main-btm-header {
    margin-top: 25px;
  }

.main-btm-widgets {
  display: flex;
  justify-content: space-between;
}

.main-btm-widgets article {
    padding: 35px 0;
    border-bottom: 0;
    color: #7d8ba5;
    font-size: 12px;
    width: 28%;
    line-height: 20px;
    float: left;
    text-align: center;
    margin-right: 5%;
}

.main-btm-widgets .last {
  margin-right: 0;
}

h5 {
  display: flex;
  flex-direction: column;
  height: 100px;
}

.main-btm-widgets svg {
    margin: 15px auto;
    font-size: 22px;
}

footer {
  height: 60px;
  background: #fff;
  width: auto;
  font-size: 14px;
  padding: 30px;
  border-top: 1px solid #ddd;
  color: #6f7e95;
}

footer strong {
  text-transform: uppercase;
  color: #354052;
}

.close-nav {
  font-size: 24px;
  position: absolute;
  right: 70px;
  top: 20px;
  display: none;
}

aside .account-name {
  width: 30%;
  font-size: 15px;
}

.donut-graphs, .bar-chart {
  height: 22vw;
  display: flex;
  justify-content: center;
}

.share-icons {
  width: 39%;
}

.share-text {
  width: 70%;
}

footer.mobile {
      display: flex;
    align-items: flex-end;
}

.share-text p {
  margin-bottom: 0;
}

.share-icons svg {
    font-size: 38px;
    margin-left: 12px;
}

}

@media only screen and (max-width: 500px) {

.share-icons svg {
    font-size: 30px;
    margin-left: 10px;
}

.share-text {
  font-size: 11px;
}


}