body {
  background: #354052;
}

main {
  width: auto;
  overflow: hidden;
  background: #edf2f6;
}

a {
  color: #c5d0e2;
  text-decoration: none;
}

/*sidebar navigation*/
aside {
  align-content: center;
  background: #354052;
  color: #c5d0e2;
  display: flex;
  flex-direction: column;
  float: left;
  font-size: 12px;
  height: 100%;
  overflow: scroll; 
  padding: 0 20px;
  position: relative;
  width: 145px;
}

.left-account-info {
  align-items: center;
  border-bottom: 1px solid #283349;
  display: flex;
  flex-direction: column;
  height: 156px;
  justify-content: center;
}

.account-name {
  margin-top: 15px;
  width: 93%;
  justify-content: space-around;
  display: flex;
}

h3 {
  font-size: 12px;
  margin-top: 0;
  text-transform: none;
}

ul {
  margin: 0px;
  padding: 0px;
}

li {
  align-items: center;
  display: flex;
  height: 40px;
  list-style: none;
  margin-left: -20px; /*allows for hover background to span across width of side nav/*/
  padding-left: 20px;
  width: 113%;
}

li:hover {
  background: #30394a;
  cursor: pointer;
}

li:hover a {
  color: #fff;
}

#yellow svg {
  color: yellow;
}

#blue svg {
  color: blue;
}

#green svg {
  color: green;
}

#red svg {
  color: red;
}

.side-nav {
  text-transform: uppercase;
  padding: 30px 0;
  border-bottom: 1px solid #283349;
}

.side-nav div {
  float: left;
  width: 25px;
}

.side-nav svg {
  color: #c5d0e2;
}

/*top bar*/
.search {
  align-items: center;
  color: #aaa;
  display: flex;
  flex: 1;
  font-size: 16px;
}

.search input {
  background: transparent;
  border: 0;
  color: #666;
  flex: 1;
  height: 100%;
  text-indent: 50px;
}

.search input:focus {
  outline: none;
}

.search svg {
  left: 30px;
  position: relative;
}

.top-bar {
  background: #fff;
  border-bottom: 1px solid #ddd;
  display: flex;
  flex-flow: row wrap;
  height: 70px;
  justify-content: space-around;
}

.top-icons {
  border-left: 1px solid #ddd;
  display: flex;
  width: 210px;
}

.top-icon {
  align-items: center;  
  border-right: 1px solid #ddd;
  color: #666;
  display: flex;
  height: 100%;
  justify-content: center;
  width: 70px;
}

.top-icon:hover {
  background: #16a4fa;
  color: #fff;
}

/*header*/
header {
  background: #fff;
  height: 135px;
  padding: 30px 45px 0 45px;
}

.title {
  color: #6d7081;
  display: inline-block;
  font-size: 14px;
  width: auto;
}

.title a {
  color: #17a3f9;
}

.fa-globe {
  margin-right: 8px;
}

.fa-circle {
  color: #6d7081;
  font-size: 4px;
  margin: 0 8px 3px 8px;
}

.header-links {
  display: flex;
  float: right;
  width: auto;
}

.header-links a {
  align-items: center;
  border-radius: 50%;
  border: 1px solid #ddd;
  color: #666;
  display: flex;
  font-size: 14px;
  height: 35px;
  justify-content: center;
  margin: 30px 0 0 10px;
  width: 35px;
}

.header-links a:hover {
  background: #16a4fa;
  color: #fff;
} 

a.header-link-1 {
  width: 80px;
  border-radius: 20px;
  text-transform: uppercase;
  font-size: 12px;
}

.header-links .fa-circle {
  color: #92cf52;
  font-size: 11px;
  margin: 0 6px 2px 0;
}

.top-content-links {
  background: #fff;
  padding-left: 45px;
  text-transform: uppercase;
}

h1 {
  font-size: 26px;
  margin: 18px 0 15px 0;
}

h2 {
  color: #c5d0e2;
  display: inline-block;
  font-size: 12px;
  height: 30px;
  margin: 0 45px 0 0;
}

h2:hover {
  color: #666;
}

.active h2 {
  color: #666;
  border-bottom: 3px solid #17a3f9;
}

/*top content*/
.top-content-graphs {
  background: #edf2f6;
  border-top: 2px solid #ddd;
  display: flex;
  padding: 50px 45px;
}

.graphs-section {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 22vw;
  margin-right: 14%;
  position: relative;
  width: 51%;
}

.donut-graphs {
  display: flex;
  justify-content: space-between;
  height: 15vw;
}

.graph {
  display: flex;
  position: relative;
  width: 30%;
}

.circle-chart {
  height: 100%;
  width: 100%;
}

.graph-background {
  stroke: 2px solid #efefef;
  fill: none;
}

.graph-circle {
  animation: circle-chart-fill 2s reverse;
  transform: rotate(-90deg);
  transform-origin: center;
}

.graph-large-text {
  font-size: 0.5em;
  font-weight: bold;
}

.graph-small-text {
  font-size: 0.2em;
  font-weight: normal;
  text-transform: uppercase;
}

.bar-chart {
  display: flex;
  height: 17vw;
  justify-content: center;
}

@keyframes circle-chart-fill {
  to { stroke-dasharray: 0 100; }
}

.chart-info p {
  margin: 0 0 -10px 0;
}

.chart-text {
  alignment-baseline: central;
  fill: #354052;
  text-anchor: middle;
}

.graphs-subtitle {
  background: #fff;
  border-radius: 25px;
  border: 1px solid #ddd;
  bottom: 0;
  color: #354052;
  display: inline-block;
  font-size: 12px;
  margin-top: 45px;
  padding: 12px 18px;
  position: absolute;
  width: auto;
}

.graphs-subtitle:hover {
  border: 1px solid #17a3f9;
}

.chart-section {
  width: 26%;
  height: 22vw;
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;
  -webkit-transform: translateZ(0); /* webkit flicker fix */
  -webkit-font-smoothing: antialiased; /* webkit text rendering fix */
}

.chart-section img {
    width: auto;
    height: 95%;
}

/*chart tooltip*/
.chart-section .tooltip {
  background: #364052;
  border-radius: 3px;
  bottom: 100%;
  color: #fff;
  display: block;
  font-size: 12px;
  left: 18%;
  line-height: 18px;
  margin-bottom: 15px;
  opacity: 0;
  padding: 10px;
  pointer-events: none;
  position: absolute;
  text-align: center;
  width: 80%;
  -webkit-transform: translateY(10px);
     -moz-transform: translateY(10px);
      -ms-transform: translateY(10px);
       -o-transform: translateY(10px);
          transform: translateY(10px);
  -webkit-transition: all .25s ease-out;
     -moz-transition: all .25s ease-out;
      -ms-transition: all .25s ease-out;
       -o-transition: all .25s ease-out;
          transition: all .25s ease-out;
  -webkit-box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.28);
     -moz-box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.28);
      -ms-box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.28);
       -o-box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.28);
          box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.28);
}

.tooltip span {
  color: #35b4bd;
}

.chart-section .tooltip:after {
  border-left: solid transparent 10px;
  border-right: solid transparent 10px;
  border-top: solid #364052 10px;
  bottom: -10px;
  content: " ";
  height: 0;
  left: 50%;
  margin-left: -13px;
  position: absolute;
  width: 0;
}
  
.chart-section:hover .tooltip {
  opacity: 1;
  pointer-events: auto;
  -webkit-transform: translateY(0px);
     -moz-transform: translateY(0px);
      -ms-transform: translateY(0px);
       -o-transform: translateY(0px);
          transform: translateY(0px);
}

/*hr with up arrow icon*/
.hr {
  align-items: center;
  display: flex;
  justify-content: space-around;
}

.hr span {
  background: #ddd;
  display: inline-block;
  height: 1px;
  width: 48%;
}

.fa-angle-up {
  background: #fff;
  border-radius: 50%;
  border: 1px solid #ddd;
  color: #ddd;
  font-size: 6px;
  height: 20px;;
  width: 20px !important;
}

/*bottom content*/
.main-btm-content {
  display: flex;
  justify-content: space-between;
  overflow: hidden;
  padding: 55px 45px 45px 45px;
}

/*bottom left*/
.main-btm-left {
  border-radius: 3px;
  width: 66%;
}

.main-btm-header {
  align-items: center;
  background: #6f7e95;
  border-radius: 3px 3px 0 0;
  color: #fff;
  display: flex;
  font-size: 12px;
  font-weight: bold;
  height: 65px;
  line-height: 30px;
  padding-left: 30px;
  text-transform: uppercase;
}

.main-btm-header a {
  background: #7d8ba5;
  color: #fff;
  font-size: 12px;
  margin-left: 20px;
  padding: 2px 10px;
}

.main-btm-header a:hover {
  background: #8a98b4;
}

.main-btm-header svg {
  padding-right: 5px;
}

.main-btm-container {
  padding: 10px 30px 30px 30px;
}

.main-btm-item {
  align-items: top;
  background: #fff;
  border-bottom: 1px solid #ddd;
  color: #7d8ba5;
  display: flex;
  font-size: 12px;
  padding: 30px;
}

td.main-btm-title {
  width: 30%;
}

td.main-btm-desc {
  width: 70%;
}

h4 {
  color: #6f7e95;
  font-weight: bold;
  margin: 0;
  text-transform: uppercase;
}

.main-btm-item span {
  display: inline-block;
  width: 71%;
}

.main-btm-item.last, .main-btm-widgets .last {
  border: none;
  padding-bottom: 45px;
}

.lead, .lead .main-btm-desc {
  display: flex;
  align-items: center;
}

.lead img {
  margin-right: 10px;
}

/*bottom right*/
.main-btm-right {
  width: 28%;
}

.main-btm-social.desktop {
  display: block;
}

.main-btm-social a {
  align-items: center;
  border-radius: 3px;
  color: #fff;
  display: flex; 
  height: 45px;
  margin-bottom: 15px;
  padding-left: 20px;
}

.main-btm-social a.last {
  margin-bottom: 0;
}

.facebook {
  background: #4c72c4;
}

.facebook:hover {
  background: #4c72c4;
  background: linear-gradient(to bottom, rgba(76,114,196,1) 0%, rgba(56,83,143,1) 100%);
}

.twitter {
  background: #02abf0;
}

.twitter:hover{
  background: #02abf0;
  background: linear-gradient(to bottom, rgba(2,173,240,1) 0%, rgba(0,132,184,1) 100%);
}

.linkedin {
  background: #0482bd;
}

.linkedin:hover {
  background: #0482bd;
  background: linear-gradient(to bottom, rgba(4,130,189,1) 0%, rgba(8,104,148,1) 100%);
}

.main-btm-widgets svg {
  margin-right: 8px;
}

.main-btm-social svg {
  margin-right: 45px;
}

.main-btm-widgets article {
  border-bottom: 1px solid #ddd;
  color: #7d8ba5;
  font-size: 12px;
  line-height: 20px;
  padding: 35px 0;
}

h5 {
  color: #354052;
  font-size: 16px;
  margin: 0 0 20px 0;
}

.main-btm-widgets input {
  border-radius: 3px 0 0 3px;
  border: none;
  height: 95%;
  padding-left: 5%;
  width: 73%;
}

.main-btm-widgets a {
  align-items: center;
  background: #47bac1;
  border-radius: 0 3px 3px 0;
  border: #47bac1;
  color: #fff;
  display: flex;
  height: 45px;
  justify-content: center;
  margin: 0px;
  padding: 0px;
  width: 20%;
}

.copy-link {
  display: flex;
  height: 45px;
  width: 100%;
}