body {
  background: #354052;
}

main {
  width: auto;
  overflow: hidden;
  background: #edf2f6;
}

a {
  color: #c5d0e2;
  text-decoration: none;
}

/*top bar*/

.top-bar {
  height: 70px;
  border-bottom: 1px solid #ddd;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  background: #fff;
}

.top-icons {
    width: 210px;
    border-left: 1px solid #ddd;
    display: flex;
}

.top-icon {
  width: 70px;
  border-right: 1px solid #ddd;
  height: 100%;
  display: flex;
  align-items: center;  
  justify-content: center;
  color: #666;
}

.top-icon:hover {
  background: #16a4fa;
  color: #fff;
}

.search {
    color: #aaa;
    font-size: 16px;
    align-items: center;
    flex: 1;
    display: flex;
}

.search input {
  flex: 1;
  height: 100%;
  background: transparent;
  border: 0;
  text-indent: 50px;
  color: #666;
}

.search input:focus {
  outline: none;
}

.search svg {
    position: relative;
    left: 30px;
}

/*header*/

header {
  height: 135px;
  padding: 30px 45px 0 45px;
  background: #fff;
}

.title {
  color: #6d7081;
  font-size: 14px;
  width: auto;
  display: inline-block;
}

.title a {
  color: #17a3f9;
}

.fa-globe {
  margin-right: 8px;
}

.fa-circle {
    font-size: 4px;
    color: #6d7081;
    margin-bottom: 3px;
    margin-right: 8px;
    margin-left: 8px;
}

.header-links {
  width: auto;
  display: flex;
  float: right;
}

.header-links a {
  border: 1px solid #ddd;
  border-radius: 50%;
  height: 35px;
  display: flex;
  width: 35px;
  margin-left: 10px;
  margin-top: 30px;
  justify-content: center;
  align-items: center;
  color: #666;
  font-size: 14px;
}

.header-links a:hover {
  background: #16a4fa;
  color: #fff;
} 

a.header-link-1 {
    width: 80px;
    border-radius: 20px;
    text-transform: uppercase;
    font-size: 12px;
}

.header-links .fa-circle {
    font-size: 11px;
    color: #92cf52;
    margin-bottom: 2px;
    margin-right: 6px;
    margin-left: 0px;
}

.main-btm-social.desktop {
  display: block;
}

.top-content-links {
  padding-left: 45px;
  text-transform: uppercase;
  background: #fff;
}

h1 {
    font-size: 26px;
    margin-top: 18px;
    margin-bottom: 15px;
}

h2 {
  font-size: 12px;
  display: inline-block;
  color: #c5d0e2;
  margin-right: 45px;
  margin-bottom: 0px;
  height: 30px;
}

h2:hover {
  color: #666;
}

.active h2 {
  color: #666;
  border-bottom: 3px solid #17a3f9;
}

/*top content*/

.top-content-graphs {
  background: #edf2f6;
  border-top: 2px solid #ddd;
  padding: 50px 45px;
  display: flex;
}

.bar-chart {
    height: 17vw;
    display: flex;
    justify-content: center;
}

.graph {
  display: flex;
  position: relative;
  width: 30%;
}

.circle-chart {
  width: 100%;
  height: 100%;
}

.graph-large-text {
  font-size: 0.5em;
  font-weight: bold;
}

.graph-small-text {
  font-size: 0.2em;
  font-weight: normal;
  text-transform: uppercase;
}

.graph-background {
  stroke: 2px solid #efefef;
  fill: none;
}

.graph-circle {
  animation: circle-chart-fill 2s reverse;
  transform: rotate(-90deg);
  transform-origin: center;
}

@keyframes circle-chart-fill {
  to { stroke-dasharray: 0 100; }
}

.chart-info p {
  margin: 0 0 -10px 0;
}

.chart-text {
  alignment-baseline: central;
  text-anchor: middle;
  fill: #354052;
}

.graphs-subtitle {
  color: #354052;
  margin-top: 45px;
  position: absolute;
  font-size: 12px;
  background: #fff;
  width: auto;
  display: inline-block;
  padding: 10px 15px;
  bottom: 0;
  border: 1px solid #ddd;
  border-radius: 25px;
}

.graphs-subtitle:hover {
  border: 1px solid #17a3f9;
}

.graphs-section {
  width: 51%;
  height: 22vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 14%;
  position: relative;
}

.chart-section {
  width: 26%;
  height: 22vw;
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;
  -webkit-transform: translateZ(0); /* webkit flicker fix */
  -webkit-font-smoothing: antialiased; /* webkit text rendering fix */
}

.donut-graphs {
  display: flex;
  justify-content: space-between;
  height: 15vw;
}

.chart-section img {
    width: auto;
    height: 95%;
}

/*chart tooltip*/

.chart-section .tooltip {
  font-size: 12px;
  background: #364052;
  bottom: 100%;
  text-align: center;
  line-height: 18px;
  color: #fff;
  display: block;
  left: 33%;
  margin-bottom: 15px;
  opacity: 0;
  padding: 10px;
  pointer-events: none;
  position: absolute;
  border-radius: 3px;
  width: 40%;
  -webkit-transform: translateY(10px);
     -moz-transform: translateY(10px);
      -ms-transform: translateY(10px);
       -o-transform: translateY(10px);
          transform: translateY(10px);
  -webkit-transition: all .25s ease-out;
     -moz-transition: all .25s ease-out;
      -ms-transition: all .25s ease-out;
       -o-transition: all .25s ease-out;
          transition: all .25s ease-out;
  -webkit-box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.28);
     -moz-box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.28);
      -ms-box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.28);
       -o-box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.28);
          box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.28);
}

.tooltip span {
  color: #35b4bd;
}

/* This bridges the gap so you can mouse into the tooltip without it disappearing */
/*.chart-section .tooltip:before {
  bottom: -20px;
  content: " ";
  display: block;
  height: 20px;
  left: 0;
  position: absolute;
  width: 100%;
}  
*/

.chart-section .tooltip:after {
  border-left: solid transparent 10px;
  border-right: solid transparent 10px;
  border-top: solid #364052 10px;
  bottom: -10px;
  content: " ";
  height: 0;
  left: 50%;
  margin-left: -13px;
  position: absolute;
  width: 0;
}
  
.chart-section:hover .tooltip {
  opacity: 1;
  pointer-events: auto;
  -webkit-transform: translateY(0px);
     -moz-transform: translateY(0px);
      -ms-transform: translateY(0px);
       -o-transform: translateY(0px);
          transform: translateY(0px);
}

.hr {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.hr span {
  height: 1px;
  background: #ddd;
  width: 48%;
  display: inline-block;
}

.fa-angle-up {
  height: 20px;;
  width: 20px !important;
  border: 1px solid #ddd;
  border-radius: 50%;
  font-size: 6px;
  background: #fff;
  color: #ddd;
}

/*bottom content*/

.main-btm-content {
  display: flex;
  justify-content: space-between;
  overflow: hidden;
  padding: 45px;
}

/*bottom left*/

.main-btm-left {
  width: 66%;
  background: #fff;
  border-radius: 3px;
}

.main-btm-container {
  padding: 10px 30px 30px 30px;
}

.main-btm-header svg {
  padding-right: 5px;
}

.main-btm-item {
  padding: 30px 0;
  display: flex;
  font-size: 12px;
  align-items: top;
  border-bottom: 1px solid #ddd;
  color: #7d8ba5;
}

.main-btm-item h4 {
  width: 29%;
  text-transform: uppercase;
  color: #6f7e95;
  font-weight: bold;
  margin: 0;
}

.main-btm-item span {
  width: 71%;
  display: inline-block;
}

.main-btm-item.last, .main-btm-widgets .last {
  border: none;
  padding-bottom: 0;
}

.lead, .lead span {
  display: flex;
  align-items: center;
}

.lead img {
  margin-right: 10px;
}

/*bottom right*/

.main-btm-right {
  width: 28%;
}

.main-btm-header {
    height: 65px;
    color: #fff;
    align-items: center;
    background: #6f7e95;
    display: flex;
    padding-left: 30px;
    line-height: 30px;
    font-weight: bold;
    font-size: 12px;
    text-transform: uppercase;
    border-radius: 3px 3px 0 0;
}

.main-btm-header a {
  font-size: 12px;
  background: #7d8ba5;
  padding: 2px 10px;
  margin-left: 20px;
  color: #fff;
}

.main-btm-header a:hover {
  background: #8a98b4;
}

.main-btm-widgets svg {
  margin-right: 8px;
}

.main-btm-social a {
  height: 45px;
  margin-bottom: 15px;
  color: #fff;
  display: flex; 
  align-items: center;
  border-radius: 3px;
  padding-left: 20px;
}

.main-btm-social a.last {
  margin-bottom: 0;
}

.main-btm-social svg {
  margin-right: 45px;

}

.facebook {
  background: #4c72c4;
}

.facebook:hover {
  background: #4c72c4;
  background: linear-gradient(to bottom, rgba(76,114,196,1) 0%, rgba(56,83,143,1) 100%);
}

.twitter {
  background: #02abf0;
}

.twitter:hover{
  background: #02abf0;
  background: linear-gradient(to bottom, rgba(2,173,240,1) 0%, rgba(0,132,184,1) 100%);
}

.linkedin {
  background: #0482bd;
}

.linkedin:hover {
  background: #0482bd;
  background: linear-gradient(to bottom, rgba(4,130,189,1) 0%, rgba(8,104,148,1) 100%);
}

h5 {
  color: #354052;
  font-size: 16px;
  margin: 0 0 20px 0;
}

.main-btm-widgets article {
  padding: 35px 0;
  border-bottom: 1px solid #ddd;
  color: #7d8ba5;
  font-size: 12px;
  line-height: 20px;
}

.main-btm-widgets input {
  height: 95%;
  width: 73%;
  padding-left: 5%;
  border-radius: 3px 0 0 3px;
  border: none;
}

.copy-link {
  display: flex;
  width: 100%;
  height: 45px;
}

.main-btm-widgets a {
  width: 20%;
  margin: 0px;
  padding: 0px;
  display: flex;
  height: 45px;
  border-radius: 0 3px 3px 0;
  background: #47bac1;
  border: #47bac1;
  justify-content: center;
  align-items: center;
  color: #fff;
}

/*aside styles*/
aside {
  width: 145px; /*Width of frame div*/
  height: 100%;
  overflow: scroll; 
  background: #354052;
  font-size: 12px;
  display: flex;
  flex-direction: column;
  color: #c5d0e2;
  align-content: center;
  padding: 0 20px;
  float: left;
  position: relative;
}

.left-account-info {
  height: 156px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid #283349;
}

.account-name {
  margin-top: 15px;
  width: 93%;
  justify-content: space-around;
  display: flex;
}

h3 {
  margin-top: 0;
  font-size: 12px;
  text-transform: none;
}

ul {
  margin: 0px;
  padding: 0px;
}

li {
  height: 40px;
  list-style: none;
  width: 113%;
  display: flex;
  align-items: center;
  margin-left: -20px;
  padding-left: 20px;
}

li:hover {
  background: #30394a;
  cursor: pointer;
}

li:hover a {
  color: #fff;
}

.side-nav .yellow svg {
  color: yellow;
}

.side-nav .blue svg {
  color: blue;
}

.side-nav .green svg {
  color: green;
}

.side-nav .red svg {
  color: red;
}

.side-nav {
    text-transform: uppercase;
    padding: 30px 0;
    border-bottom: 1px solid #283349;
}

.side-nav div {
  width: 25px;
  float: left;
}

.side-nav svg {
  color: #c5d0e2;
}

